DATABASE_URL=jdbc:mysql://127.0.0.1:your_mysql_port/library
DATABASE_USER=your_database_user
DATABASE_PASS=your_password

JWT_EXPIRATION=your_value
JWT_KEY=execute: {openssl rand -hex 64} in your git bash
